<div id="auth-container" class="row m-0 p-0 mt-5 justify-content-center content-box">

  <div class="col m-0 p-0 wrapper">

    <div class="row m-0 p-0">
      <div class="col m-0 p-0 header">
        <h2 class="pl-3 text-left text-md-center pl-md-0"><i class="fas fa-cogs"></i> edit <%= resource_name.to_s %></h2>
      </div>
    </div>


    <div class="row m-0 p-0 justify-content-center h-100">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4 m-0 p-0 align-self-center">

        <!-- intro text -->
        <div class="row m-0 p-0">
          <div class="col m-0 p-0">
            <p class="font-italic text-secondary text-center">
              please change only the fields that you want to change
            </p>
          </div>
        </div>
        <!-- /intro text -->

        <!-- form -->
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text w-100">First Name</span>
            </div>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control w-50" %>
          </div>
          <small class="form-text text-muted px-1">
            fill in with your first given name.
          </small>

          <div class="input-group mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text w-100">email</span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-50" %>
          </div>
          <small class="form-text text-muted px-1">
            pick new email.
          </small>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="input-group mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text w-100">password</span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-50" %>
          </div>
          <small class="form-text text-muted px-1">
            pick a new password.
          </small>

          <div class="input-group mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text w-100">confirm pass</span>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-50" %>
          </div>
          <small class="form-text text-muted px-1">
            confirm your new password.
          </small>

          <div class="input-group mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text w-100">current pass</span>
            </div>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control w-50" %>
          </div>
          <small class="form-text text-muted px-1">
            please provide your current password to confirm the required changes.
          </small>

          <!-- error display -->
          <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 text-center error-display">
              <%= devise_error_messages! %>
            </div>
          </div>

          <div class="actions mt-4 row m-0 p-0">

            <div class="col m-0 p-0">
              <%= f.submit "update", class: "btn btn-success" %>
              <%= link_to "cancel", root_path, class: "btn btn-primary" %>
            </div>

          </div>

        <% end %>
        <!-- end form -->

      </div>
    </div>

    <!-- cancel account action -->
    <div class="row m-0 p-0 justify-content-center pb-5">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4 m-0 p-0 align-self-center">
        <h4 class="text-danger"><strong>DANGER AREA<strong></h4>
        <%= button_to "delete your account permanently", registration_path(resource_name),class: "btn btn-danger" , data: { confirm: "Are you sure?" }, method: :delete %>

      </div>
    </div>
    <!-- /cancel account action -->


  </div>



</div>
