<div id="auth-container" class="row m-0 p-0 mt-5 justify-content-center content-box">

  <div class="col m-0 p-0 wrapper">

    <div class="row m-0 p-0">
      <div class="col m-0 p-0 header">
        <h2 class="pl-3 text-left text-md-center pl-md-0"><i class="far fa-user-circle"></i> create an account</h2>
      </div>
    </div>

    <div class="row m-0 p-0 justify-content-center h-100">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4 m-0 p-0 align-self-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text w-100">email</span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w50" %>
            <small class="form-text text-muted px-1">
              introduce your email address and make sure you add us back into your contacts.
            </small>
          </div>

          <div class="input-group mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text w-100">password</span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-50" %>
            <small class="form-text text-muted px-1">
              introduce your password.
            </small>
          </div>

          <div class="input-group mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text w-100">confirm pass</span>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-50" %>
            <small class="form-text text-muted px-1">
              confirm your password.
            </small>
          </div>

          <div class="actions row m-0 p-0 mt-4">

            <div class="col m-0 p-0">
              <%= f.submit "sign up", class: "btn btn-primary" %>
              <%= link_to "&nbsp;&nbsp;already a member? <u class='align-bottom'>log in here</u>".html_safe, new_user_session_path, class: "align-bottom text-secondary" %>
            </div>

          </div>

          <!-- error display -->
          <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 text-center error-display">
              <%= devise_error_messages! %>
            </div>
          </div>
          
        <% end %>
      </div>
    </div>



  </div>



</div>
