<% if current_user && current_user.admin? %>
<!-- admin section -->
<div class="row m-0 p-0">

  <div class="col-12 m-0 p-0 text-right">
    <%= link_to '<i class="fas fa-times"></i>'.html_safe,
        product_comment_path(comment.product, comment),
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: "btn btn-sm btn-danger",
        remote: true
    %>
  </div>

</div>
<!-- /admin section -->
<% end %>

<div id="comment-container-<%= comment.id %>" class="row m-0 p-0">

  <div class="col-6 m-0 p-0 font-italic align-self-center">
    <%= getUsername(comment) %>
    <span class="rated" data-score="<%= comment.rating %>"></span>
  </div>

  <div class="col-6 m-0 p-0 text-right text-muted text-sm align-self-center">
    <%= formatDate(comment) %>
  </div>

  <div class="col-12 m-0 p-2 text-md">
    "<%= comment.body %>"
  </div>

  <div class="col-12 m-0 p-0">
    <hr>
  </div>

</div>
