<div class="row m-0 p-0">
  <div class="col m-0 p-0">
    <h2 class="pt-3">Your cart</h2>
  </div>
</div>

<div id="orders" class="row justify-content-center m-0 p-0 pb-5">
  <% if @orders.length < 1 %> <!-- default view for empty cart -->
    <div class="col-12 m-0 ">
      <p>
        Currently you have no items on your cart.<br>
        Visit our <%= link_to "products", root_path, class: "text-primary" %> and search for something you like.
      </p>
    </div>
  <% else %>
    <!-- print main table elements -->
    <div class="col-12 m-0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="w-50">Item</th>
            <th scope="col" class="w-25">value</th>
            <th scope="col" class="w-25"></th>
          </tr>
        </thead>

        <tbody>
        <!-- loop to generate table elements and display cart content -->
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.product.name %> (x <%= countRepeated(order) %>)
            </td>

            <td>
              <span class="dollar">€</span><%= getOrderPrice(order) %>
            </td>

            <td>
              <div class="row m-0 p-0 justify-content-center">

                <div class="col-auto m-0 p-0 px-1">
                  <%= form_for(:order, url: orders_create_path, method: :post) do |f| %>
                    <%= f.hidden_field(:product_id, :value => order.product.id) %>
                    <%= f.button "<i class='fas fa-plus'></i>".html_safe, class: "btn btn-sm btn-outline-secondary btn-tooltip", title: "Duplicate item", data: {toggle: "tooltip", placement: "top"} %>
                  <% end %>
                </div>

                <div class="col-auto m-0 p-0 px-1">
                  <%= form_for(:order, url: orders_destroy_path, method: :post) do |f| %>
                    <%= f.hidden_field(:order_id, :value => order.id) %>
                    <%= f.button '<i class="far fa-trash-alt"></i>'.html_safe, class: "btn btn-sm btn-outline-danger btn-tooltip", title: "Remove item", data: {toggle: "tooltip", placement: "top"} %>
                  <% end %>
                </div>

              </div>


              <!-- <a href="#" class="btn btn-sm btn-outline-danger">remove</a> -->
            </td>
          </tr>
        <% end %>
        <!-- end of loop to populate table content -->
        </tbody>
      </table>
    </div>

    <div class="col-12 m-0">
      <div class="row m-0 p-0 justify-content-center">

        <div class="col-6 m-0 p-0 text-right align-self-center">
          <strong>Total:</strong>&nbsp;<span class="dollar">€</span><%= getTotalOrderPrice(@orderTotal) %>
        </div>

        <div class="col-2 m-0 p-0 text-center align-self-center">
          <%= form_with(url: '/payments/create') do |f| %>

            <% @orders.each do |order| %>
              <%= f.hidden_field :order_ids, multiple: true, value: order.id %>
            <% end %>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-image="<%= asset_path('rails_icon.ico') %>"
              data-name="<%= File.basename(Rails.root.to_s) %>"
              data-currency= "eur"
              data-description="<%= getOrderDescription(@orders) %>"
              data-label="Checkout"
              data-amount="<%= @orderTotal %>">
            </script>
          <% end %>

        </div>

      </div>
    </div>
  <% end %>




</div>
