<h2 class="pt-3">Orders</h2>

<p>List of complete orders table.</p>


<div id="orders" class="row justify-content-center">
  <div class="col-12 col-lg-10 px-0 px-md-3">

    <% @orders.all.each do |order| %>
      <div class="row order_list_row mt-2 mx-0 border rounded">
        <div class="col-4 h-100">
          <div class="image_order_list_container border rounded">
            <%=
              link_to(image_tag(order.product.image_url, class: "img-fluid image_order_list"), order_path(order.id))
            %>

          </div>
        </div>

        <div class="col-8 h-100">
          <div class="row h-100">
            <div class="col-12 align-self-center">
              <strong>Last Upddate: </strong> <%= order.updated_at %><br>
              <strong>Customer: </strong> <%= order.user_id %><br>
              <strong>Value: </strong> €<%= order.total %><br>
              <strong>Paid: </strong> <%= order_paid_icon(order) %> <br>
              <strong>Delivered: </strong> <%= order_status_icon(order) %> <br>
            </div>
          </div>
        </div>
      </div>



    <% end %>

  </div>
</div>
