<div id="auth-container" class="row m-0 p-0 mt-5 justify-content-center content-box">

  <div class="col m-0 p-0 wrapper">

    <div class="row m-0 p-0">
      <div class="col m-0 p-0 header">
        <h2 class="pl-3 text-left text-md-center pl-md-0"><i class="far fa-user-circle"></i> welcome back</h2>
      </div>
    </div>

    <div class="row m-0 p-0 justify-content-center h-100">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4 m-0 p-0 align-self-center">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text w-100">email / user</span>
            </div>
            <%= f.text_field :login, autofocus: true, autocomplete: "login", class: "form-control w-50" %>
          </div>

          <div class="input-group mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text w-100">password</span>
            </div>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control w-50" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-check mt-4">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, "remember my details" ,class:"form-check-label text-secondary" %>
            </div>
          <% end -%>

          <div class="actions row m-0 p-0 mt-4">

            <div class="col m-0 p-0">
              <%= f.submit "log in", class: "btn btn-primary" %>
              <%= link_to "&nbsp;&nbsp;not registered yet? <u class='align-bottom'>sign up here</u>".html_safe, new_user_registration_path, class: "align-bottom text-secondary" %>
            </div>

          </div>

          <!-- error display -->
          <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 text-danger text-center error-display">
              <%= flash[:alert] %>
            </div>
          </div>

        <% end %>
      </div>
    </div>



  </div>



</div>
