<p id="notice"><%= notice %></p>

<h1>Product List</h1>

<section class="row" id="product_section">
<%= content_tag :div, id: "hidden_information_products_array", data: {products_array: @products} do %>
<% end %>
  <% @products.each do |prod| %>
    <!-- product container -->
    <div class="col-6 col-md-4 col-lg-3 mt-2">

      <div class="card product_list">
        <div class="card-title border-bottom">
          ID:<%= prod.id %> (will change for relevant info)
        </div>

        <div class="card-body row">
          <div class="card-image border rounded">
            <%= image_tag("load.gif", class: "load_image product_image", data:{type: "product_canvas", product_id: prod.id, product_image: "#{asset_path(prod.image_url)}"}, alt: "#{prod.name} Image") %>
          </div>
          <div class="col-12 p-0"> <!-- wrapper is here bc i know im gonna need it to style the text better -->
            <h5 class="text-truncate"><%= prod.name %></h5>
            <p class="card-text">
              <strong>Desc:</strong><br>
              <%= prod.description%>
            </p>
            <p>
              <strong>Price: </strong>€ <%= prod.price %>
            </p>
          </div><!-- /wrapper is here bc i know im gonna need it to style the text better -->
          <div class="col-12 p-0 text-right mt-2">
            <%= link_to "Show", prod, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
    <!-- /product container -->
  <% end %>
</section>


<br>

<%= link_to 'New Product', new_product_path, class: "btn btn-success" %>
<a href="/" class="btn btn-danger">Exit to HomePage</a>
