<% if $redis.exists("product-featured-cache") %>

  <%= $redis.get("product-featured-cache").html_safe %>

  <% logger.debug("[DOBBY] > CACHE OK > CAROUSEL LOADED") %>
  <% logger.debug("[DOBBY] > TTL REMAINING: #{$redis.ttl("product-list-cache")}") %>

<% else %>

  <% content = render "carousel_featured" %>
  <% $redis.set("product-featured-cache", content) %>
  <% $redis.expire("product-featured-cache", 300) %>
  <%= $redis.get("product-featured-cache").html_safe %>

  <% logger.debug("[DOBBY] > CACHE NOT OK > CAROUSEL CACHED") %>
  <% logger.debug("[DOBBY] > TTL REMAINING: #{$redis.ttl("product-featured-cache")}") %>

<% end %>

<div class="row m-0 p-0 mt-5">
  <div class="col-6 m-0 p-0">
    <h1>Products List</h1>
  </div>

  <div class="col-6 m-0 p-0 align-self-center">
    <div class="row m-0 p-0 justify-content-end">
      <%= render "search" %>
    </div>
  </div>

  <div class="col-12 m-0 p-0">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<% if current_user && current_user.admin? %>
  <section class="row m-0 p-0 px-5 py-3 alert alert-warning">

    <div class="col-12 m-0 p-0">
      <h3>Admin panel</h3>

      <div class="row m-0 p-0">

        <div class="col-auto m-0 p-0">
          <%= link_to "NEW PRODUCT", new_product_path, class: "btn btn-success" %>
        </div>

        <div class="col-auto m-0 mx-2 p-0">
          <%= link_to "VIEW USERS", users_path, class: "btn btn-success" %>
        </div>

      </div>
    </div>

  </section>
<% end %>

<section class="row mt-2 m-0 p-0 pb-5" id="product_section">

  <%= getProdCache.html_safe %>

</section>
