<% if $redis.exists("product-featured-cache") %>

  <%= $redis.get("product-featured-cache").html_safe %>

  <% logger.debug("[DOBBY] > CACHE OK > CAROUSEL LOADED") %>
  <% logger.debug("[DOBBY] > TTL REMAINING: #{$redis.ttl("product-list-cache")}") %>

<% else %>

  <% content = render "carousel_featured" %>
  <% $redis.set("product-featured-cache", content) %>
  <% $redis.expire("product-featured-cache", 300) %>
  <%= $redis.get("product-featured-cache").html_safe %>

  <% logger.debug("[DOBBY] > CACHE NOT OK > CAROUSEL CACHED") %>
  <% logger.debug("[DOBBY] > TTL REMAINING: #{$redis.ttl("product-featured-cache")}") %>

<% end %>

<div class="row m-0 p-0 mt-5">
  <div class="col-6 m-0 p-0">
    <h1>Products List</h1>
  </div>

  <div class="col-6 m-0 p-0 align-self-center">
    <div class="row m-0 p-0 justify-content-end">
      <%= render "search" %>
    </div>

  </div>

  <div class="col-12 m-0 p-0">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<section class="row mt-2 m-0 p-0" id="product_section">

  <% if $redis.exists("product-list-cache") %>

    <%= $redis.get("product-list-cache").html_safe %>

    <% logger.debug("[DOBBY] > CACHE OK > PRODUCTS LOADED") %>
    <% logger.debug("[DOBBY] > TTL REMAINING: #{$redis.ttl("product-list-cache")}") %>

  <% else %>

    <% content = render @products %>
    <% $redis.set("product-list-cache", content) %>
    <% $redis.expire("product-list-cache", 300) %>
    <%= $redis.get("product-list-cache").html_safe %>

    <% logger.debug("[DOBBY] > CACHE NOT OK > PRODUCTS CACHED") %>
    <% logger.debug("[DOBBY] > TTL REMAINING: #{$redis.ttl("product-list-cache")}") %>

  <% end %>

</section>


<br>

<%= link_to 'New Product', new_product_path, class: "btn btn-success" %>
<a href="/" class="btn btn-danger">Exit to HomePage</a>
