<div id="product_single" class="row justify-content-around pt-5">
  <!-- col for info -->
  <div class="col-12 col-md-8">
    <div class="row">

      <div class="col-12 product_single_view border rounded">
        <!-- this is the product overview section -->
        <!-- header -->
        <div class="row">
          <div class="col-12">
            <h2>
              <%= @product.name.capitalize %>
              <span class="product_reference">
                (ref.: <%= @product.id %>)
              </span>
            </h2>
          </div>
          <div class="col-12">
            <hr>
          </div>
        </div>
        <!-- /header -->

        <!-- grid 2 slots > image & specifics -->
        <div class="row justify-content-around">

          <div class="col-12 col-md-6">
            <div class="product_image_container border rounded">
              <%= image_tag(@product.image_url || "default_product.jpg", class: "product_single_image", alt: @product.name) %>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="row product_specifics">

              <div class="wrapper col-12 align-self-center">
                <strong>Description:</strong><br>
                <%= @product.description.capitalize %><br>
                <br>
                <strong>Color:</strong>
                <%= @product.colour.capitalize %><br>
                <br>
                <strong>Price:</strong>
                <span class="dollar">€</span><%= @product.price %><br>
                <br>
                <strong>Product Rating:</strong>
                <div class="rated" data-score="<%= @product.average_rating %>"></div>
              </div>

            </div>
          </div>

          <div class="col-12">
            <hr>
          </div>

        </div>
        <!-- /grid 2 slots > image & specifics -->

        <!-- reviews -->
        <div id="comments-box" class="row justify-content-center">

          <div class="col-12 m-0 pb-5">
            <h4>Product reviews</h4>
          </div>

          <div class="col-12 m-0 pb-3">
            <div class="row m-0 p-0 justify-content-end comments-paginate">
              <div class="col m-0 p-0">
                <%= render "paginate_comments" %>
              </div>
            </div>

            <div class="row m-0 p-0">
              <div id="comments-container" class="col m-0 p-0">
                <%= render @comments %>
              </div>
            </div>

            <div class="row m-0 p-0 justify-content-end comments-paginate">
              <div class="col m-0 p-0">
                <%= render "paginate_comments" %>
              </div>
            </div>
          </div>

        </div>
        <!-- /reviews -->

        <!-- NEW comments box -->
        <div class="row justify-content-center pb-5">

          <div class="col-12 m-0">
            <%= render "new_comment" %>
          </div>

        </div>
        <!-- /NEW comments box -->

        <!-- /this is the product overview section -->
      </div>

    </div>
  </div>
  <!-- /col for info -->

  <!-- col for actions -->
  <div class="col-12 col-md-4 mt-2 mt-md-0">
    <div class="row justify-content-center">

      <div class="col-12 product_single_action border rounded">
        <!-- header actions -->
        <div class="row">
          <div class="col-12">
            <h2>Actions</h2>
          </div>
          <div class="col-12">
            <hr>
          </div>
        </div>
        <!-- /header actions -->

        <!-- action buttons -->
        <div class="row justify-content-center">

          <!-- lets validate user ability to manage products -->
          <% if can? :manage , Product %>
          <div class="col-12 text-center mb-2">
            <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning" %>
          </div>
          <% end %>

          <div class="col-6 text-center mb-2">
            <%= form_for(:order, url: orders_create_path, method: :post) do |f| %>
              <%= f.hidden_field(:product_id, :value => @product.id) %>
              <%= f.button '<i class="fas fa-cart-plus"></i>&nbsp;add'.html_safe, class: "btn btn-primary" %>
            <% end %>

          </div>
        </div>
        <!-- /action buttons -->


      </div>

    </div>
  </div>
  <!-- /col for actions -->
</div>
